*.csv
!data/train_sample.csv
!data/holidays_events.csv
!holidays_events.csv
data/test.csv
data/submission.csv
data/items.csv
data/stores.csv
data/oil.csv
*.pkl
!models/model.pkl
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.ipynb_checkpoints/
.vscode/
.idea/
