# Datasets
*.csv
!holidays_events.csv

# Explicitly ignoring huge files:
train.csv
test.csv
items.csv
stores.csv
oil.csv
submission.csv

# Models
*.pkl

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
